@charset "UTF-8";


<style>
body {
background-color: rgba(0, 247, 255, 0.542);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}
h1{
    color: rgb(0, 128, 255);
    background-color: aqua;
}
h2{
    color: crimson;
}
p{
    text-align: justify;
}
</style>